.image-carousel {
    align-items: center;
    background-color: rgba(200, 200, 200, 0.15);
    display: flex;
    height: 400px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.image-carousel-img {
    height: 100%;
    overflow-x: hidden;
}

#Projetos {
    position: relative;
}

.projetos-titulo {
    display: flex;
    justify-content: space-between;
    margin: 475px 0 0 0;
}

.projetos-titulo h1 {
    color: white;
    font-size: 3.25rem;
    font-weight: normal;
    margin: 0;
    padding-top: 18px;
}

.seta_irProjetos {
    background-image: url("seta-homepage-01.png");
    cursor: pointer;
    float: right;
    height: auto;
    opacity: 50%;
    transition: all .25s;
    width: 11.5%;
}

.seta_irProjetos:hover {
    opacity: 100%;
}

#Filtros {
    background-color: black;
    color: white;
    display: block;
    float: left;
    margin: 75px 0 30px 0;
    padding-top: 30px;
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 15;
}

#Filtros > ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.filtro {
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    transition: color .25s;
}

.filtro:last-child {
    opacity: 50%;
    margin-right: 0;
    transition: opacity .25s;
}

.filtro:first-child:hover {
    color: #E111A7;
}

.filtro:nth-child(2):hover {
    color: #00FFFF;
}

.filtro:nth-child(3):hover {
    color: #B4FF00;
}

.filtro:nth-child(4):hover {
    color: #0000FF;
}

.filtro:last-child:hover {
    opacity: 100%;
}

#FiltrosOrdenacaoMobile {
    display: none;
}

#Ordenacao {
    color: white;
    float: right;
    margin: 0;
    position: sticky;
    right: 0;
    top: 30px;
    width: 75px;
    z-index: 16;
}

#animacaoOrdenacaoAlfabetica, #animacaoOrdenacaoTemporal {
    height: auto;
    margin: auto;
    overflow: visible;
    width: 30%;
}

.ordenacao-alfabetica {
    display: inline-block;
    height: 100%;
    margin: 0 0 25px 0;
    text-align: center;
    width: 100%;
}

.ordenacao-alfabetica p:first-child, .ordenacao-temporal p:first-child {
    margin: 0 0 10px 0;
}

.ordenacao-alfabetica p:last-child, .ordenacao-temporal p:last-child {
    margin: 10px 0 0 0;
}

.ordenacao-temporal {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
}

#Pesquisa {
    bottom: -175px;
    margin: 70px 0 0 0;
    position: absolute;
    right: 0;
    width: 200px;
}

#listaProjetos {
    height: auto;
    /* overflow-y: scroll; */
    width: 100%;
}

.projeto {
    color: white;
    margin-bottom: 50px;
    padding-left: 0;
    position: relative;
}

.projeto a {
    color: white;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.projeto .thumbnail:hover .thumbnailImgOverlay {
    opacity: 100%;
}

.thumbnail__img {
    position: relative;
}

.thumbnail__img > img {
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}

.thumbnailImgOverlay {
    display: flex;
    flex-direction: column;
    height: calc(100% - 15px);
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity .5s;
    width: 100%;
    z-index: 10;
}

.thumbnailImgOverlay p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .image-carousel {
        height: 60vh;
        z-index: -10;
    }

    .image-carousel-img {
        height: auto;
        width: 100%;
    }

    .projetos-titulo {
        display: flex;
        justify-content: space-between;
        margin: 80vh 0 0 0;
    }

    .projetos-titulo h1 {
        font-size: 1.5rem;
    }

    #Filtros, #Ordenacao {
        display: none;
    }

    #FiltrosOrdenacaoMobile {
        color: white;
        display: block;
        margin-top: 20px;
    }

    #DivBotoesFiltragemMobile {
        display: block;
    }

    #DivBotoesFiltragemMobile > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 0.9rem;
        list-style: none;
    }

    #FiltrosMobile, #OrdenacaoMobile {
        display: none;
        justify-content: flex-start;
        position: absolute;
    }

    .projeto {
        padding-right: 0;
    }

    .thumbnail_title{
        padding: 0 15px 0 15px;
    }
}